@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes move-up {
  from {margin-top: 100vh;}
  to {margin-top: 0;}
}

@keyframes move-down {
  from {margin-top: 0;}
  to {margin-top: 100vh;}
}
